<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="duolingobackenduserservice.mapper.RoleMapper">
    <resultMap id="roleResultMap" type="duolingobackenduserservice.model.Role">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
    </resultMap>

    <select id="getAllRoles">
        SELECT   rle.id
               , rle.title
        FROM ROLE rle
        WHERE 1 = 1
    </select>

    <insert id="insertRoles">
        INSERT INTO Role (  id
                          , title
                          )
        VALUES (  #{id}
                , #{title}
               )

    </insert>


</mapper>